.heading {
  font-size: 36px;
  color:#007FA3;
  margin-left: 60px;
  text-align: center;
}
.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.poster {
  width: 100px;
  height: 100px;
}
.media-heading {
  font-weight: bold;
}
